<a href="/category/{{type}}/{{id}}" style="text-decoration: none;">
  <div class="card">
    <img src="{{img}}{{image}}" alt="Card Image" class="card-img-top p-2 img-fluid">
    <div class="card-body text-start">
      <h4>{{title}}{{name}}</h4>
      <p>{{description}}</p>
    </div>
  </div>
</a>


