<a href="/category/{{type}}/{{id}}?from=home" style="text-decoration: none; color: inherit;">
  <div class="card h-100 shadow-sm">
    <img src="{{img}}" alt="Card Image" class="card-img-top p-2 img-fluid" style="height: 200px; object-fit: cover;">

    <div class="card-body text-start" style="position: relative;">
      <div class="d-flex justify-content-between">
        <h4 class="flex-grow-1">{{title}}</h4>
        {{> iheart}}
      </div>

      <span class="badge bg-danger position-absolute bottom-0 start-0 m-3">
        {{Genres}}
      </span>
      <span class="badge bg-secondary position-absolute bottom-0 end-0 m-3">
        {{ContentType}}
      </span>

    </div>
  </div>
</a>