{{!-- <a class="list-group-item list-group-item-action active" id="list-{{this.groupId}}-list" data-bs-toggle="list" href="#list-{{this.groupId}}" role="tab" aria-controls="list-{{this.groupId}}">
    <div class="d-flex w-100 justy-content-between">
        <img src="{{this.groupImg}}"/>
        <h5 class="mb-1">{{this.groupName}}</h5>
        <small>1 hour ago</small>
    </div>
    <p class="mb-1">lid 1: message</p>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
    </span>
</a> --}}
<a class="list-group-item list-group-item-action" id="list-{{this.chatId}}-list" data-bs-toggle="list" href="#list-{{this.chatId}}" role="tab" aria-controls="list-{{this.chatId}}">
        {{!-- {{this.chatName}} --}}
    <div class="d-flex w-100 justy-content-between">
        <img src="{{this.img}}"/>
        <h5 class="mb-1">{{this.chatName}}</h5>
    </div>
</a>