<a class="list-group-item list-group-item-action" id="list-{{this.chatId}}-list" data-bs-toggle="list" href="#list-{{this.chatId}}" role="tab" aria-controls="list-{{this.chatId}}"
    data-room-id="{{this.chatId}}" data-room-name="{{this.chatName}}">
    <div class="d-flex w-100 justy-content-between">
        <img src="{{this.img}}"/>
        <h5 class="mb-1">{{this.chatName}}</h5>
    </div>
</a>