<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      {{#each rooms}}
        {{>groupcardpartial}}
      {{/each}}
    </div>
  </div>

  <div class="col-8 d-flex flex-column mb-3">
    <div class="tab-content" id="nav-tabContent">
      {{#each rooms}}
          <div class="tab-pane fade {{#if @first}}show active{{/if}}"
             id="list-{{this.RoomID}}"
             role="tabpanel"
             aria-labelledby="list-{{this.RoomID}}-list"
             data-room-id="{{this.RoomID}}"
             data-room-name="{{this.ChatName}}">
              <div class="p-2">
                <div class="d-flex flex-row mb-3">
                  <img src="{{this.Image}}" alt="imgChat" style="max-width: 100px; max-height: 100px;" />
                  <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">{{this.ChatName}}</button>
                    <ul class="dropdown-menu">
                      {{#each this.members}}
                        {{>grouplidcard}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              <div id="messages-{{currentRoom.room.RoomID}}" class="p-2 d-flex flex-column mb-3">
                {{#each messages}}
                  {{>messagepartial}}
                {{/each}}
              </div>
              <div class="mt-auto p-3 border-top">
                <form id="chatForm" class="d-flex gap-2" data-room-id="{{this.RoomID}}">
                  <input type="text" id="chatInput" class="form-control message-input">
                  <button type="submit" class="btn btn-secondary">⬆</button>
                </form>
              </div>
          </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Socket.IO & jQuery -->
<script src="/socket.io/socket.io.js"></script>
<script>
  (function() {
    const socket = io();
    const currentUser = {
      id: '{{user.UserID}}',
      username: '{{user.Username}}'
      {{!-- image: '{{user.Image}}' --}}
    };
    const currentRoom = {
      id: '{{currentRoom.room.RoomID}}',
      name: '{{currentRoom.room.ChatName}}'
      {{!-- image: '{{currentRoom.room.Image}}' --}}
    };
//join room
  socket.emit('authenticate', currentUser.id, function(resp) {
    if(!resp.success) {
      alert(resp.error || 'Authentication failed');
      return;
    }
    socket.emit("join room", currentRoom.name, function(data) {
      console.log('Joined room: ', data.room.name);
    });
  });
//msg send
  const chatForm = document.getElementById("chatForm");
  const chatInput = document.getElementById("chatInput");
  const messagesContainer = document.getElementById(`messages-${currentRoom.id}`);
  chatForm.addEventListener("submit", function(e) {
    e.preventDefault();
    const text = chatInput.value.trim();
    socket.emit("chat message", text);
    chatInput.value = "";
  });
//get new msg
    socket.on('chat message', function(data) {
//show msg
      if (data.roomId !== currentRoom.id) return;
  const div = document.createElement('div');
  div.classList.add('message');
  if (data.username === currentUser.username) {
    div.classList.add('self');
  }
  div.innerHTML = `
    <div><strong>${data.username}</strong>: ${data.message}</div>
    <div style="font-size:0.75rem; color:#666;">${new Date(data.time).toLocaleTimeString()}</div>
  `;
  messagesContainer.appendChild(div);
// roll to bottom
  messagesContainer.scrollTop = messagesContainer.scrollHeight;
  }) ();
</script>

<style>
  .message {
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f9fa;
    max-width: 80%;
  }
</style>